body {
    margin: 0px;
    padding: 0px;
}
nav .fl {
    display: flex;
    align-items: center;
}
nav {
    height: 80px;
    margin: auto;
    box-sizing: border-box;
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
}
nav > div {
    width: 30%;
    margin: auto;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}
nav > div:nth-child(1) > div {
    margin-right: 20px;
}
nav > div:nth-child(2) {
    justify-content: center;
}
nav > div:nth-child(3) {
    justify-content: end;
}
nav > div:nth-child(3) > div {
    margin-left: 30px;
}
nav img {
    height: 30px;
}
#india > img {
    height: 20px;
}
#logo img {
    height: 50px;
}
#search {
    background-color: #ebedf3;
    width: 70%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}
#search-box {
    width: 90%;
    height: 30px;
    border: none;
    background-color: #ebedf3;
    padding-left: 5px;
}
#search-btn {
    border: none;
    background-color: transparent;
}
#search-btn:hover {
    cursor: pointer;
}
#search-btn > img {
    height: 15px;
    align-items: center;
    background-color: transparent;
}
/* Category Section  */
#category {
    width: 100%;
    height: 50px;
    background-color: #ebedf3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: black;
}
#category > a {
    padding: 10px 20px;
    text-decoration: none;
    color: #898989;
}
#category > a:hover {
    font-weight: bold;
    color: black;
    background-color: #ffffff;
}

/*---------------------------- Page specific ---------------------------- */
/* Info section  */
#info {
    width: 100%;
    display: flex;
    margin: auto;
}
#info > div {
    width: 50%;
}
#info > div > div {
    width: 80%;
    margin: auto;
    padding: 60px 10px;
}
#info-img {
    width: 50%;
    height: 300px;
    background-image: url(../images/products/1.jpg);
    background-size: cover;
    background-position: center;
    margin: 15px;
    border-radius: 5px;
}
/* Offer Section  */
#offer {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin: 5px 25px;
    background-color: #ebedf3;
    border: 1px dashed grey;
    border-radius: 5px;
}
#offer img {
    width: 35px;
    height: 35px;
    margin: 0px 5px;
}
#offer p {
    margin: 5px;
}
#offer > div {
    margin-left: 10px;
}
/* Limit Sort  */
#limit-sort {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 25px;
}
#limit-sort select {
    height: 35px;
    padding-inline: 10px;
    font-size: 14px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #888;
}
/* Product Section  */
#product {
    width: 100%;
    display: flex;
    margin: 5px 0px;
    padding: 10px 10px;
}
#product > div {
    margin-inline: 15px;
}
#filter {
    width: 20%;
    /* border: 2px solid red; */
}
#filter > div {
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #001f49;
    padding-top: 10px;
}
#filter > div > input,label {
    margin: 5px 2px 5px;
    
}
/* Main Section  */
#container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 40px 20px;
}
#card p {
    margin: 5px 0px;
}
#card_img {
    width: 210px;
}
.card_offer {
    font-size: 12px;
}

/*---------------------------- Page specific ---------------------------- */

/* Email Section  */
#email-section {
    width: 100%;
    height: 80px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #ebedf3;

}
#email-section > div {
    width: 50%;
}
#email-section > div:nth-child(1) {
    text-align: right;
}
#email-box {
    width: 35%;
    height: 30px;
    margin: 0px;
    padding-left: 10px;
}
#email-btn {
    width: 35px;
    height: 35px;
    margin: 0px -5px;
    background-color: #001f49;
    border: none;
    color: white;
}
/* Quick Links  */
#quick-links {
    display: flex;
    padding-inline: 20%;
    font-size: 14px;
}
#quick-links > div {
    width: 25%;
    margin-inline: auto;
}
#quick-links .list-title {
    font-weight: bold;
}
#quick-links a {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}
#social {
    display: flex;
    
}
#social > a {
    margin-top: 18px;
    margin-right: 25px;
}
#social img {
    height: 15px;
}
/* Footer */
footer {
    padding-inline: 20%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 80px;
}
footer > div {
    border-top: 0.5px solid grey;
    text-align: center;
}
footer > div > div {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px auto;
    /* border: 1px solid red; */
}
#lock {
    width: 40%;
    justify-content: center;
    margin-inline: auto;
}
#lock img {
    height: 15px;
    margin-right: 10px;
}